
<form method="post" action="/login" class="form-inline">
    <label for="username-input" class="sr-only">Username:</label><br>
    <input type="text" id="username-input" name="login" class="" placeholder="email"><br>

    <label for="password-input" class="sr-only" >Password:</label><br>
    <input type="text" id="password-input" name="password" class="form-control" placeholder="password"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p id="error-input"></p>
</form>
<script src="/js/application.js" defer></script>