
<form method="post" action="/signup" class="form-inline">
    <label for="username-input" class="sr-only">Username:</label><br>
    <input type="text" id="username-input" name="username" class="" placeholder=""><br>

    <label for="password-input" class="sr-only" >Password:</label><br>
    <input type="password" id="password-input" name="password" class="form-control" placeholder=""><br>

    <label for="email-input" class="sr-only" >Email:</label><br>
    <input type="text" id="email-input" name="email" class="form-control" placeholder=""><br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/application.js" defer></script>